<div class="myCard">
<mat-card >
    <mat-card-content >
         <mat-list *ngFor="let item of products;let last = last" >
           <mat-list-item   mat-ripple class="pathitem"
                           style="line-height: 100px;" (dblclick)="loadprices(item)"
                           matTooltip="{{item.productDescription}}">
             <p>{{item.productName}}</p>
           </mat-list-item>
           <mat-divider class="mat-divider mat-divider-horizontal"
                        role="separator"
                        aria-orientation="horizontal" *ngIf="!last">
           </mat-divider>
         </mat-list>
    </mat-card-content>
  </mat-card>


</div>

